/*--Slider Area--*/

.slider_bg{
    background: url('./banner.png') no-repeat center center fixed;
   background-size: cover;
  }
  .illastrator_png {
   width: 100%;
  }
  .slider_info h3 {
   color: #ffffff;
   font-size: 60px;
   text-transform: capitalize;
   font-weight: 400;
   margin-bottom: 50px;
   margin-top: 10px;
  }
  
  /*--Slider Area End--*/
  /*--Slider Media Query--*/

@media (min-width: 1200px) and (max-width: 1500px) {
    .illastrator_png {
       right: 0;
     }
   }
   
   @media (min-width: 992px) and (max-width: 1200px) {
     .illastrator_png {
       right: 0;
     }
   }
   
   @media (min-width: 768px) and (max-width: 991px) {
    
     .illastrator_png {
       right: 0;
     }
   }
   
   @media (max-width: 767px) {
     .illastrator_png {
       right: 0;
     }
   }
   
   
   .slider_area .illastrator_png img {
     width: 100%;
   }
   
   @media (max-width: 767px) {
     .slider_info {
       text-align: center;
     }
   }
   
   @media (max-width: 767px) {
     
     .slider_info h3 {
       font-size: 24px;
       letter-spacing: 0px;
       line-height: 35px;
       margin-top: 0;
       margin-bottom: 0;
     }
   }
   @media (min-width: 768px) and (max-width: 991px) {
     .slider_info h3 {
       font-size: 30px;
       line-height: 46px;
     }
   }
   
   @media (min-width: 992px) and (max-width: 1200px) {
    .slider_info h3 {
       font-size: 35px;
       line-height: 45px;
     }
   }